@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #170055;
    font-family: "Roboto Mono", monospace;
    color: #B5FFD9;
}

header {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;
}

#icon {
    width: 84px;
    height: 84px;
    transition: 1.8s;
}

#icon:hover {
    rotate: 360deg;
}

nav {
    width: 480px;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 24px;
    padding-bottom: 6px;
    margin: 0;
}

h3:hover {
    padding-bottom: 3px;
    text-shadow: 0 0 30px #B5FFD9;
    border-bottom: 3px solid #AE00FB;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0;
}

h1 {
    font-size: 72px;
    position: relative;
    text-shadow: 0 0 30px #B5FFD9;
}

h1::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: -20px;
    width: 50%;
    height: 5px;
    background-color: #AE00FB;
    transition: 0.6s;
}

h1:hover::after {
    left: 15%;
    width: 70%;
}

h2 {
    font-size: 48px;
    margin: 0;
}

.line {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto 60px auto;
}

.btn {
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #FFC600;
    border-radius: 42px;
    color: #FFC600;
    transition: 0.3s;
}

.btn:hover {
    text-shadow: 0 0 30px #FFFF00;
    box-shadow: 0 0 30px #FFFF00;
}

a {
    text-decoration: none;
    color: #B5FFD9;
}