* {
    font-family: monospace;
}
section {
    display: flex;
    flex-direction: column;
}
#container {
    display: flex;
    justify-content: center;
    width: 100%;
}
#profile-icon-holder {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #eaeaea;
    border: 5px solid black;
}
#profile-icon, #bug-img {
    width: 170px;
    border-radius: 17px;
}
#img-holder {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #eaeaea;
    flex-direction: column;
    padding-top: 15px;
    border: 5px solid black;
}
#bug-img {
    margin-bottom: 15px;
}
#main-section {
    margin-left: 20px;
    margin-right: 20px;
}
#nickname {
    width: 500px;
    height: 100px;
    background-color: #eaeaea;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    border-radius: 20px;
    padding-top: 15px;
    border: 5px solid black;
}
#my-projects-btn, #vip-btn {
    width: 210px;
    height: 70px;
    background-color: #eaeaea;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}
#my-projects-btn:hover, #vip-btn:hover {
    background-color: #ddd;
}