body {
    background-color: #FDF4E3;
}
#menu-btn {
    width: 100px;
}
#menu-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    position: absolute;
}
#menu-btn:hover {
    width: 120px;
}
#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board-1, #board-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#board-1 {
    margin-right: 100px;
}
#text {
    font-size: 50px;
    font-family: monospace;
    margin-top: 100px;
    margin-bottom: 30px;
}
.text2 {
    font-size: 30px;
    font-family: monospace;
}
#desk-img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin-bottom: 30px;
}