#container {
    width: 570px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.row {
    display: flex;
    justify-content: center;
}
#info-card, .card {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border: 5px solid black;
    border-radius: 17px;
    margin: 5px;
}
#info-card {
    width: 360px;
    display: flex;
    justify-content: center;
}
#info-card:hover, .card:hover {
    background-color: #ddd;
}
img {
    width: 170px;
    height: 170px;
}
.q {
    width: 140px;
    height: 140px;
}

#menu-btn {
    width: 50px;
    height: 50px;
}
#menu-btn-holder {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background-color: #eaeaea;
    border: 5px solid black;
}
#menu-btn-holder:hover {
    background-color: #ddd;
}