@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter";
    margin-top: 50px;
}

.quote-block {
    width: 470px;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #eaeaea;
    border-radius: 21.5px;
    border: 5px solid black;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
}
.quote-block__img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
p {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#menu-btn, #back-btn {
    width: 50px;
    height: 50px;
}
#menu-btn-holder, #back-btn-holder {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    border-radius: 50%;
    background-color: #eaeaea;
    border: 5px solid black;
}
#back-btn-holder {
    left: 10px;
}
#menu-btn-holder {
    right: 10px;
}
#menu-btn-holder:hover, #back-btn-holder:hover {
    background-color: #ddd;
}