@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: black;
    color: white;
    font-family: "Inter";
}
section {
    display: flex;
    flex-direction: column;
}
.element {
    background-color: #0f0f0f;
    border: 5px solid white;
    border-radius: 21.5px;
    margin-top: 10px;
    padding: 15px;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.text {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 27px;
    margin: 0;
}
img {
    border-radius: 18.5px;
}
.img-in-element {
    border: 5px solid white;
}

#container {
    display: flex;
    justify-content: center;
}
#profile-icon-holder {
    height: 185px;
}
#profile-icon, .previp-img {
    width: 175px;
    height: 175px;
}
#my-projects-btn, #vip-btn {
    width: 225px;
    height: 70px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
#my-projects-btn:hover, #vip-btn:hover {
    background-color: #1a1a1a;
}
#vip-btn {
    display: none;
}
#links-holder {
    width: 185px;
    height: 185px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.links-holder__row {
    height: 35px;
    display: flex;
    align-items: center;
}
.links-holder__row__img {
    width: 35px;
    height: 35px;
    border-radius: 0;
    margin-right: 10px;
}
#main-section {
    margin-left: 20px;
    margin-right: 20px;
}
#nickname {
    width: 470px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
#about-me {
    width: 470px;
}
#favorite-game, #favorite-film {
    width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#favorite-game {
    height: 305px;
}
#favorite-game__img {
    width: 320px;
    height: 175px;
}
#favorite-game__info {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.favorite-game__info__block {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#favorite-film {
    height: 475px;
}
.favorite-film__row {
    width: 444px;
    display: flex;
    justify-content: space-between;
}
#favorite-film__row__img1 {
    width: 160px;
    height: 160px;
    border-radius: 17px;
}
#favorite-film__row__img2 {
    width: 249px;
    height: 160px;
    border-radius: 17px;
}
#favorite-film__row__img3 {
    width: 434px;
    height: 178px;
    border-radius: 17px;
}
#img-holder {
    width: 185px;
    height: 785px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 21.5px;
}

#theme-btn {
    width: 50px;
    height: 50px;
}
#theme-btn-holder {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    background-color: #0f0f0f;
    border: 5px solid white;
}
#theme-btn-holder:hover {
    background-color: #1a1a1a;
}