.container {
    display: flex;
    justify-content: center;
}
.gallery-carousel {
    width: 950px;
    margin-top: 50px;
}
.gallery-carousel .photos img {
    width: 950px;
    height: 600px;
    border-radius: 20px;
    display: none;
}
.gallery-carousel .photos img:first-child {
    display: block;
}
.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.buttons .prev, .buttons .next {
    font-size: 50px;
    width: 250px;
    height: 75px;
    border-radius: 10px;
}

#menu-btn, #back-btn {
    width: 50px;
    height: 50px;
}
#menu-btn-holder, #back-btn-holder {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    border-radius: 50%;
    background-color: #eaeaea;
    border: 5px solid black;
}
#back-btn-holder {
    left: 10px;
}
#menu-btn-holder {
    right: 10px;
}
#menu-btn-holder:hover, #back-btn-holder:hover {
    background-color: #ddd;
}