body {
    background-color: #FDF4E3;
}
#menu-btn {
    width: 100px;
}
#menu-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    position: absolute;
}
#menu-btn:hover {
    width: 120px;
}
#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#input {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}
#btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 50px;
    margin-top: 20px;
}
#btn {
    width: 180px;
    height: 40px;
    border: 0;
    background-color: cornflowerblue;
    border-radius: 10px;
    font-size: 20px;
    font-family: monospace;
}
#btn:hover {
    width: 190px;
    height: 50px;
}
#text {
    font-size: 30px;
    font-family: monospace;
    margin-top: 150px;
    margin-bottom: 0;
}
#text2 {
    color: red;
    font-size: 20px;
    font-family: monospace;
}
#ad-btn {
    position: absolute;
    right: 0;
    top: 0;
}