body {
    background-color: black;
}

#container {
    width: 570px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.row {
    display: flex;
    justify-content: center;
}
#info-card, .card {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    border: 5px solid white;
    border-radius: 21.5px;
    margin: 5px;
}
#info-card {
    width: 360px;
}
#info-card:hover, .card:hover {
    background-color: #1a1a1a;
}
img {
    width: 170px;
    height: 170px;
}
.q, #quote-img {
    width: 140px;
    height: 140px;
}

#menu-btn, #theme-btn {
    width: 50px;
    height: 50px;
}
#menu-btn-holder, #theme-btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    background-color: #0f0f0f;
    border: 5px solid white;
}
#menu-btn-holder {
    width: 70px;
    height: 70px;
    top: 10px;
    right: 10px;
}
#theme-btn-holder {
    width: 80px;
    height: 80px;
    bottom: 10px;
    left: 10px;
}
#menu-btn-holder:hover, #theme-btn-holder:hover {
    background-color: #1a1a1a;
}