@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter";
}
#container {
    width: 100%;
    display: flex;
    justify-content: center;
}
#calculator {
    margin-top: 200px;
    margin-right: 30px;
    background-color: #A2A2D0;
    padding: 10px;
    border-radius: 20px;
}
.row {
    display: flex;
    justify-content: center;
    width: 300px;
}
input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
.btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 55px;
}
.btn {
    background-color: #E5E4E2;
    width: 60px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}
.btn:hover {
    width: 65px;
    height: 45px;
}
#btn-r, .btn-c {
    background-color: #FFAFAF;
}
.symbol {
    background-color: #FFBCAD;
}
#notes {
    display: none;
    margin-top: 200px;
    background-color: #A2A2D0;
    padding: 10px;
    border-radius: 20px;
    height: 230px;
}
.notes__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-left: 5px;
}
.notes__row input {
    width: 212px;
}
h1 {
    margin-left: 9px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}
#notes_button_row {
    position: absolute;
    margin-top: 30px;
}
#notes_button_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 50px;
}
#notes_button {
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: #ACE5EE;
    font-size: 20px;
    font-weight: bold;
}
#notes_button:hover {
    width: 210px;
    height: 50px;
}

#menu-btn, #back-btn {
    width: 50px;
    height: 50px;
}
#menu-btn-holder, #back-btn-holder {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    border-radius: 50%;
    background-color: #eaeaea;
    border: 5px solid black;
}
#back-btn-holder {
    left: 10px;
}
#menu-btn-holder {
    right: 10px;
}
#menu-btn-holder:hover, #back-btn-holder:hover {
    background-color: #ddd;
}